# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
dist/
build/
android/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local
.env*.local
ecommerce-7b413-firebase-adminsdk-fbsvc-1fa31756c0.json
google-services.json

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Radix/Tooling
.radix/
.tailwind-cache/

# Testing
coverage/

# Metro
.metro-health-check*

# Misc
*.log
*.tmp
*.temp
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
*.pem

# IDE
.vscode/
.idea/

# Expo
.expo/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# generated native folders
/ios
/android
